In [1]:
# ensures all output is printed
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [26]:
import math as mt

In [11]:
import numpy as np

In [89]:
import pandas as pd

In [12]:
import scipy

In [13]:
from scipy import stats

In [14]:
from numpy import random

In [90]:
# Load Dataset


sampleData = pd.read_csv("default of credit card clients.csv")

In [91]:
sampleData.head()

,Unnamed: 0,X1,X2,X3,X4,X5,X6,X7,X8,X9,...,X15,X16,X17,X18,X19,X20,X21,X22,X23,Y
0,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default payment next month
1,1,20000,2,2,1,24,2,2,-1,-1,...,0,0,0,0,689,0,0,0,0,1
2,2,120000,2,2,2,26,-1,2,0,0,...,3272,3455,3261,0,1000,1000,1000,0,2000,1
3,3,90000,2,2,2,34,0,0,0,0,...,14331,14948,15549,1518,1500,1000,1000,1000,5000,0
4,4,50000,2,2,1,37,0,0,0,0,...,28314,28959,29547,2000,2019,1200,1100,1069,1000,0

In [16]:
# uniform random numbers in [0,1]
dataOne = random.rand(5,5)

In [17]:
dataOne

array([[0.01239083, 0.2036267 , 0.04788921, 0.28470267, 0.67389844],
       [0.64983877, 0.61634638, 0.16610812, 0.75804103, 0.521047  ],
       [0.6197844 , 0.52579999, 0.39600854, 0.05880236, 0.46502402],
       [0.54048238, 0.97820406, 0.74377593, 0.75949213, 0.14986023],
       [0.03833552, 0.49781326, 0.91831958, 0.93835252, 0.0859317 ]])

In [18]:
np.mean(dataOne)

0.46599503071197257

In [19]:
#Now it is your turn! Use three predefined functions with math and stats to obtain information about the data 
#stored in the numpy array; note any issues you encounter along the way as comments in your notebook. 
#These will serve you well later as lesson learned that you have documented and can reference.

In [38]:
# functions from math module

print(dataOne[0][0])
mt.log10(dataOne[0][0])
mt.exp(dataOne[0][0])
mt.isnan(dataOne[0][0])

0.01239083204958602

-1.906899529587532

1.0124679164600001

False

In [46]:
# functions from stats (from scipy)

print(dataOne[1])
stats.describe(dataOne)
stats.mode(dataOne)
stats.skew(dataOne)
stats.iqr(dataOne)
stats.iqr(dataOne[0])

[0.64983877 0.61634638 0.16610812 0.75804103 0.521047  ]

DescribeResult(nobs=5, minmax=(array([0.01239083, 0.2036267 , 0.04788921, 0.05880236, 0.0859317 ]), array([0.64983877, 0.97820406, 0.91831958, 0.93835252, 0.67389844])), mean=array([0.37216638, 0.56435808, 0.45442028, 0.55987814, 0.37915228]), variance=array([0.1019071 , 0.07750334, 0.13768315, 0.1372889 , 0.06323413]), skewness=array([-0.36439697,  0.30735867,  0.17894736, -0.42142055, -0.14359943]), kurtosis=array([-1.80595658, -0.59151374, -1.5566266 , -1.46766888, -1.58046702]))

ModeResult(mode=array([[0.01239083, 0.2036267 , 0.04788921, 0.05880236, 0.0859317 ]]), count=array([[1, 1, 1, 1, 1]]))

array([-0.36439697,  0.30735867,  0.17894736, -0.42142055, -0.14359943])

0.507790314938849

0.236813453025988

In [50]:
print('I Love data Science')

variableName1 = 'I Love data Science'

print(variableName1)

type(variableName1)

I Love data Science
I Love data Science

str

In [51]:
varOne = 25

varTwo = 25.0

varThree = varOne + varTwo

print(varThree)

50.0

In [52]:
varOne = 25

varTwo = 'Hello'

varThree = varOne + varTwo

print(varThree)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [53]:
varOne = 25

varTwo = 'Hello'

varThree = str(varOne) + varTwo

print(varThree)

25Hello

In [54]:
listOne = [1,2,3,4]

print(listOne[1:3])

[2, 3]

In [55]:
tel = {'jack': 4098, 'sape': 4139}

In [56]:
tel['jack']

4098

In [58]:
# Define a variable that represents a dictionary with 5 INT elements

my_dictionary = {'word0': 4098, 'word1': 4139, 'word2': 4444, 'word3' : 4445, 'word4' : -4446}

In [65]:
#Use functions from the math module to perform three different math operations on three of the five elements;
#you may find it easier to define variables for the elements. Feel free to combine elements as needed. 

mt.fabs(my_dictionary['word4'])
mt.log2(my_dictionary['word1'])
mt.pow(my_dictionary['word3'], 3)

4446.0

12.015066533230291

87824421125.0

In [2]:
# Worldwind Tour of Python Tutorial:

In [3]:
# set the midpoint
midpoint = 5

# make two empty lists
lower = []; upper = []

# split the numbers into lower and upper
for i in range(10):
    if (i < midpoint):
        lower.append(i)
    else:
        upper.append(i)
        
print("lower:", lower)
print("upper:", upper)

lower: [0, 1, 2, 3, 4]
upper: [5, 6, 7, 8, 9]

In [5]:
x=1+2
x = 1 + 2
x             =        1    +                2

In [6]:
x=10**-2

In [7]:
x = 10 ** -2

In [8]:
x

0.01

In [10]:
print('first value:', 1)
print('second value:', 2)

first value: 1
second value: 2

In [11]:
L = [4,2,3,1]
L.sort()
print(L)

[1, 2, 3, 4]

In [12]:
#Basic Python Semantics: Variables and Objects

In [13]:
x = 1         # x is an integer
x = 'hello'   # now x is a string
x = [1, 2, 3] # now x is a list

In [14]:
x

[1, 2, 3]

In [15]:
x = [1, 2, 3]
y = x
x
y

[1, 2, 3]

[1, 2, 3]

In [16]:
x.append(4) # append 4 to the list pointed to by x
print(y) # y's list is modified as well!

[1, 2, 3, 4]

In [17]:
x = 'something else'
print(y)  # y is unchanged

[1, 2, 3, 4]

### Immutability

You might wonder whether this pointer idea makes arithmetic operations in Python difficult to track, 
but Python is set up so that this is not an issue. Numbers, strings, and other simple types are immutable: 
you can't change their value – you can only change what values the variables point to. So, for example, 
it's perfectly safe to do operations like the following:

In [20]:
x = 10
y = x
x += 5  # add 5 to x's value, and assign it to x
print("x =", x)
print("y =", y)

x = 15
y = 10

In object-oriented programming languages like Python,
an object is an entity that contains data along with associated metadata and/or functionality.

In Python everything is an object, which means every entity has some metadata (called attributes) and associated 
functionality (called methods). These attributes and methods are accessed via the dot syntax.

In [22]:
L = [1, 2, 3]
L.append(100)
print(L)

[1, 2, 3, 100]

In [23]:
#numerical types have a real and imag attribute that returns the real and imaginary part of the value, if viewed as a complex numbe

x = 4.5
print(x.real, "+", x.imag, 'i')

4.5 + 0.0 i

In [25]:
x = 4.5
x.is_integer()
x = 4.0
x.is_integer()

False

True

In [26]:
#everything is an object – even the attributes and methods of objects are themselves objects with their own 
#type information
type(x.is_integer)

builtin_function_or_method

In [27]:
#Basic Python Semantics: Operators

In [28]:
# addition, subtraction, multiplication
(4 + 8) * (6.5 - 3)

42.0

In [29]:
# True division
print(11 / 2)

5.5

In [30]:
# Floor division
print(11 // 2)

5

In [31]:
# a @ b operator, which is meant to indicate the matrix product of a and b, for use in various linear algebra packages.

a & b	Bitwise AND	Bits defined in both a and b
a | b	Bitwise OR	Bits defined in a or b or both
a ^ b	Bitwise XOR	Bits defined in a or b but not both
a << b	Bit shift left	Shift bits of a left by b units
a >> b	Bit shift right	Shift bits of a right by b units
~a	Bitwise NOT	Bitwise negation of a
These bitwise operators only make sense in terms

In [33]:
# binnary representation of a number
bin(10)

'0b1010'

In [34]:
# 25 is odd
25 % 2 == 1

True

In [35]:
# 66 is odd
66 % 2 == 1

False

In [36]:
# check if a is between 15 and 30
a = 25
15 < a < 30

True

In [38]:
x = 4
(x < 6) and (x > 2)

True

In [39]:
(x > 10) or (x % 2 == 0)

True

In [40]:
not (x < 6)

False

In [41]:
# (x > 1) xor (x < 10)
(x > 1) != (x < 10)

False

Identity Operators: "is" and "is not"¶
The identity operators, "is" and "is not" check for object identity. Object identity is different than equality

In [42]:
a = [1, 2, 3]
b = [1, 2, 3]

In [43]:
a == b

True

In [44]:
a is b

False

In [45]:
a is not b

True

In [46]:
a = [1, 2, 3]
b = a
a is b

True

Membership operators check for membership within compound objects. So, for example, we can write:

In [47]:
1 in [1, 2, 3]

True

In [48]:
2 not in [1, 2, 3]

False

Built-In Types: Simple Values


Type	Example	Description
int	x = 1	integers (i.e., whole numbers)
float	x = 1.0	floating-point numbers (i.e., real numbers)
complex	x = 1 + 2j	Complex numbers (i.e., numbers with real and imaginary part)
bool	x = True	Boolean: True/False values
str	x = 'abc'	String: characters or text
NoneType	x = None	Special object indicating nulls

In [49]:
print("0.1 = {0:.17f}".format(0.1))
print("0.2 = {0:.17f}".format(0.2))
print("0.3 = {0:.17f}".format(0.3))

0.1 = 0.10000000000000001
0.2 = 0.20000000000000001
0.3 = 0.29999999999999999

Complex numbers are numbers with real and imaginary (floating-point) parts. We've seen integers and real numbers before; we can use these to construct a complex number:

In [50]:
complex(1, 2)

(1+2j)

In [57]:
1 + 2j
c = 3 + 4j
c.real  # real part
c.imag  # imaginary part
c.conjugate()  # complex conjugate
abs(c)  # magnitude, i.e. sqrt(c.real ** 2 + c.imag ** 2)

(1+2j)

3.0

4.0

(3-4j)

5.0

In [59]:
# Strings
message = "what do you like?"
response = 'spam'
# length of string
len(response)
# Make upper-case. See also str.lower()
response.upper()
# Capitalize. See also str.title()
message.capitalize()

4

'SPAM'

'What do you like?'

In [60]:
# concatenation with +
message + response

'what do you like?spam'

In [61]:
# multiplication is multiple concatenation
5 * response

'spamspamspamspamspam'

In [62]:
# Access individual characters (zero-based indexing)
message[0]

'w'

In [64]:
type(None) #default return value of a function

NoneType

In [65]:
return_value = print('abc')

abc

In [66]:
print(return_value)

None

In [68]:
result = (4 < 5)
result
type(result)

True

bool

In [69]:
print(True, False)

True False

Booleans can also be constructed using the bool() object constructor: values of any other type can be converted to Boolean via predictable rules. For example, any numeric type is False if equal to zero, and True otherwise:

In [70]:
#Built-In Data Structures

list	[1, 2, 3]	Ordered collection
tuple	(1, 2, 3)	Immutable ordered collection
dict	{'a':1, 'b':2, 'c':3}	Unordered (key,value) mapping
set	{1, 2, 3}	Unordered collection of unique values

In [71]:
L = [2, 3, 5, 7]
# Length of a list
len(L)
# Append a value to the end
L.append(11)
L
# Addition concatenates lists
L + [13, 17, 19]
# sort() method sorts in-place
L = [2, 5, 1, 6, 3, 4]
L.sort()
L
L = [1, 'two', 3.14, [0, 3, 5]]

4

[2, 3, 5, 7, 11]

[2, 3, 5, 7, 11, 13, 17, 19]

[1, 2, 3, 4, 5, 6]

In [72]:
L = [2, 3, 5, 7, 11]

In [73]:

if x == 0:
    print(x, "is zero")
elif x > 0:
    print(x, "is positive")
elif x < 0:
    print(x, "is negative")
else:
    print(x, "is unlike anything I've ever seen...")

4 is positive

In [74]:
for N in [2, 3, 5, 7]:
    print(N, end=' ') # print all on same line

2 3 5 7

In [75]:
for i in range(10):
    print(i, end=' ')

0 1 2 3 4 5 6 7 8 9

In [76]:
# range from 5 to 10
list(range(5, 10))

[5, 6, 7, 8, 9]

In [77]:
# range from 0 to 10 by 2
list(range(0, 10, 2))

[0, 2, 4, 6, 8]

In [78]:
for n in range(20):
    # if the remainder of n / 2 is 0, skip the rest of the loop
    if n % 2 == 0:
        continue
    print(n, end=' ')

1 3 5 7 9 11 13 15 17 19

In [79]:
a, b = 0, 1
amax = 100
L = []

while True:
    (a, b) = (b, a + b)
    if a > amax:
        break
    L.append(a)

print(L)

[1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]

In [80]:
L = []
nmax = 30

for n in range(2, nmax):
    for factor in L:
        if n % factor == 0:
            break
    else: # no break
        L.append(n)
print(L)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29]

In [81]:
def fibonacci(N):
    L = []
    a, b = 0, 1
    while len(L) < N:
        a, b = b, a + b
        L.append(a)
    return L

In [82]:
fibonacci(10)

[1, 1, 2, 3, 5, 8, 13, 21, 34, 55]

In [83]:
def real_imag_conj(val):
    return val.real, val.imag, val.conjugate()

r, i, c = real_imag_conj(3 + 4j)
print(r, i, c)

3.0 4.0 (3-4j)

In [84]:
def fibonacci(N, a=0, b=1):
    L = []
    while len(L) < N:
        a, b = b, a + b
        L.append(a)
    return L

In [85]:
fibonacci(10)

[1, 1, 2, 3, 5, 8, 13, 21, 34, 55]

Sometimes you might wish to write a function in which you don't initially know how many arguments the user will pass. In this case, you can use the special form *args and **kwargs to catch all arguments that are passed. Here is an example:

In [86]:
def catch_all(*args, **kwargs):
    print("args =", args)
    print("kwargs = ", kwargs)

In [87]:
catch_all(1, 2, 3, a=4, b=5)

args = (1, 2, 3)
kwargs =  {'a': 4, 'b': 5}